@charset "ISO-8859-1";
.menubar{
	font-family: 'Times New Roman';
	background:black;
	text-align: center;
	font-weight: bold;
	color:white;
}

.menu ul{
	display: inline-flex;
	list-style: none;
	color:white;
	
}
.menu ul li{
	width: 160px;
	margin: 15px;
	padding: 15px; 
	
}
.menubar ul li:first-child{
	font-weight: bold;
	font-size:large;
	margin-right: 300px;
	
.menubar ul li:first-child:hover{
	font-weight: bold;
}
}
.menu ul li a{
	text-decoration: none;
	color: white;
}

.menu .fa{
	margin-right: 8px;
}
.menu1{
	display: none;
	
}
.menu ul li:hover{
	background:gray;
	
}
.menu ul li a:hover{
	color:black;
}
.menu ul li:hover .menu1{
	color:white;
	display: block;
	position: absolute;
	background:black;
	margin-top:15px;
	margin-left:15px;
	
}
.menu ul li:hover .menu1 ul{
	display:block;
	margin: 10px;
	background: black;
	color:white;
}
.menu ul li:hover .menu1 ul li{
	margin-left:-10px;
	font-size: large;
	margin-right: 20px;
	width :150px;
	padding: 10px;
	border-bottom: 1px dotted white;
	border-radius:0;
	text-align: left;
}
.menu ul li:hover .menu1 ul li:last-child{
	border-bottom:none;
	}
.menu ul li:hover .menu1 ul li a:hover{
	background:gray;
	color:black;
	
}

.book1{
	background-color: silver;
	width:240px;
	text-align:center;
	padding: 25px 15px;
	border:2px;
	margin-left:50px;
	margin-bottom:100px;
	box-shadow:20px 20px 24px rgba(0,0,0,0.03);
	margin-right:50px;
	
}
.book1:hover{
	background-color: gray;
}
.book1 h3 a{
	color: black;
	text-decoration: none;
}
.book1 h3 a:hover{
	background: whitesmoke;
	text-transform: uppercase;
}
.navbar{
	text-align: center;
	margin-bottom: 100px;
}
.navbar h3 a:hover{
	background-color: silver;
	color:black;
	text-align: center;
}
.navbar h3 a{
	align-items: center;
	text-align: center;
	padding:5px 5px;
	color:black;
}
#author{
	display:flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
#previous h1 a{
	background-color:silver;
	margin-left:100px;
	padding :10px 15px;
	text-decoration: none;
	color:black;
}
#previous h1 a:hover{
	background:darkgray;
	text-transform: uppercase;
	color:black;
}